[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "imputeTestbench"]
	path = imputeTestbench
	url = https://github.com/neerajdhanraj/imputetestbench
	shallow = true
	registered = true
[submodule "PSF"]
	path = PSF
	url = https://github.com/neerajdhanraj/psf
	shallow = true
	registered = true
